/* You can add global styles to this file, and also import other style files */
.member-tabset > .tab-content{
    margin-top: -3px;
    
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
}

.nav-tabs{
    --bs-nav-tabs-border-width:0px
}
.gallery{

}