<form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()">
<h2 class="text-center text-primary">Sign Up</h2>
<hr>
<div class="mb-3">
        <label style="margin-right: 10px;">I am a:</label>
        <label class="form-check-label">
                <input type="radio" class="form-check-input" value="male" formControlName="gender">Male
        </label>
        <label class="form-check-label ms-3">
                <input type="radio" class="form-check-input" value="female" formControlName="gender">Female
        </label>    
</div>
<app-input-text [formControl]="$any(registerForm.get('username'))"
        [label]="'Username'" [type]="'text'"></app-input-text>

<app-input-text [formControl]="$any(registerForm.get('knownAs'))"
        [label]="'Known As'" [type]="'text'"></app-input-text>

<app-date-picker [formControl]="$any(registerForm.get('dateOfBirth'))"
        [label]="'Date Of Birth'" type="text" [maxDate]="maxDate"></app-date-picker>

<app-input-text [formControl]="$any(registerForm.get('city'))"
        [label]="'City'" [type]="'text'"></app-input-text>

<app-input-text [formControl]="$any(registerForm.get('country'))"
        [label]="'Country'" [type]="'text'"></app-input-text>

<app-input-text [formControl]="$any(registerForm.get('password'))"
        [label]="'Password'" [type]="'text'"></app-input-text>
        
<app-input-text [formControl]="$any(registerForm.get('confirmPassword'))"
        [label]="'Confirm Password'" [type]="'text'"></app-input-text>
<!-- <div class="mb-3">
    <input type="text" 
        [class.is-invalid]="registerForm.get('username')?.errors && registerForm.get('username')?.touched"
        class="form-control"
        placeholder="Username"        
        formControlName="username"        
        >
        <div class="invalid-feedback">Please Enter Username</div>
</div> -->

<!-- <div class="mb-3">
    <input type="password" 
        [class.is-invalid]="registerForm.get('password')?.errors && registerForm.get('password')?.touched"
        class="form-control"
        placeholder="Password"
        
        formControlName="password"
        >
        <div class="invalid-feedback" *ngIf="registerForm.get('password')?.hasError('required')">Please Enter Password</div>
        <div class="invalid-feedback" *ngIf="registerForm.get('password')?.hasError('minlength')">Password must be atleast 4 chars</div>
        <div class="invalid-feedback" *ngIf="registerForm.get('password')?.hasError('maxlength')">Password must be atleast 8 chars</div>
</div> -->


<!-- <div class="mb-3">
    <input type="password" class="form-control"
        placeholder="Confirm Password"
        name="confirmPassword"
        formControlName="confirmPassword"
        [class.is-invalid]="registerForm.get('confirmPassword')?.errors && registerForm.get('confirmPassword')?.touched"
        >
        <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword')?.hasError('required')">Please Enter Confirmation Password</div>
        <div class="invalid-feedback" *ngIf="registerForm.get('confirmPassword')?.hasError('notMatching')">Confirmation password must match with Password</div>
</div> -->


<div class="text-center">
    <button class="btn btn-success me-2" [disabled]="!registerForm.valid" type="submit">Register</button>
    <button class="btn btn-outline-danger" type="button" (click)="cancelReg()">Cancel</button>
</div>
</form>
